<h1>Editing tweet</h1>

<div class="row">
  <div class="col-xs-12">
    <%= render 'form' %>
    <div class="form-actions">
      <%= link_to 'Show', [:logged, @tweet] %>
      <%= link_to 'Back', logged_tweets_path %>
    </div>
  </div>
</div>